In [25]:
import pandas as pd

In [3]:
df_vendas = pd.read_csv('Vendas.csv',encoding='windows-1252')

In [22]:
df_client = df_vendas.drop(columns=['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code','Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Quantity'])

In [18]:
df_vendas.groupby('Region')[['Sales','Profit','Discount']].sum()

               Sales       Profit  Discount
Region
Central  501239.8908   39706.3625    558.34
East     678781.2400   91522.7800    414.00
South    391721.9050   46749.4303    238.55
West     725457.8245  108418.4489    350.20

In [19]:
df_vendas.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [24]:
df_client.loc[df_vendas['Region'] == 'Central']

       Region     Sales  Discount    Profit
14    Central   68.8100      0.80 -123.8580
15    Central    2.5440      0.80   -3.8160
16    Central  665.8800      0.00   13.3176
21    Central   19.4600      0.00    5.0596
22    Central   60.3400      0.00   15.6884
...       ...       ...       ...       ...
9961  Central   65.5840      0.20   23.7742
9962  Central  383.4656      0.32  -67.6704
9972  Central   99.5680      0.20   33.6042
9982  Central   35.5600      0.00   16.7132
9983  Central   97.9800      0.00   27.4344

[2323 rows x 4 columns]